---
// Component imports
import Link from "./Link.astro";

// Data
import navData from "../data/navData.mjs";

// CSS Effects
import * as Effects from "../js/effects.mjs";

const footerIcon = {
        name: "logo",
        atLeft: true,
        width: 40,
        height: 40
}

const githubIcon = {
    name: "grommet-icons:github",
    atLeft: true,
}

const linkedinIcon = {
    name: "grommet-icons:linkedin-option",
    atLeft: true,
}
---

<footer aria-label="Footer" class="bg-stone-950 text-stone-200">
    <div class="pt-10 container mx-auto px-10">
        <div>
            <Link 
                path="/"
                icon={footerIcon}
            />
        </div>
        <div class="container mx-auto flex justify-between my-3 text-start flex-wrap gap-y-10">
            <div>
                <small class="text-lg text-stone-600 font-semibold">Directory</small>
                <ul>
                    {
                    navData.map((data) =>
                    <li class={`${Effects.hoverPrimary} ${Effects.hoverTranslateRight}`} class:list={[Effects.easeInFast]}> 
                        <Link 
                            path={data.path} 
                            text={data.title}
                        />
                    </li>
                )
                }
                </ul>
            </div>
            <div>
                <small class="text-lg text-stone-600 font-semibold">Contact Information</small>
                <ul>
                    <li class={`${Effects.hoverPrimary} ${Effects.hoverTranslateRight}`} class:list={[Effects.easeInFast]}>
                        <Link path="mailto:morales.guillermo2503@gmail.com" text="morales.guillermo2503@gmail.com"/>
                    </li>
                </ul>
            </div>
            <div>
                <small class="text-lg text-stone-600 font-semibold">My socials</small>
                <ul class="flex justify-between my-1">
                    <li class={`${Effects.hoverScale125} ${Effects.hoverPrimary}`} class:list={[Effects.easeInFast]}>
                        <Link path="https://github.com/MoralesGuillermo" icon={githubIcon} newTab={true}/>
                    </li>
                    <li class={`${Effects.hoverScale125} ${Effects.hoverPrimary}`} class:list={[Effects.easeInFast]}>
                        <Link path="https://www.linkedin.com/in/gmorales2506" icon={linkedinIcon}/ newTab={true}>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-center p-3 mt-4">
        <small>
            &copy; <span id="copyright">{new Date().getFullYear()}</span> Guillermo Morales | All rights reserved
        </small>
    </div>
</footer>