---
import Link from "./Link.astro";

import navData from "../data/navData.mjs";

const footerIcon = {
        name: "logo",
        atLeft: true,
        width: 40,
        height: 40
}

const githubIcon = {
    name: "grommet-icons:github",
    atLeft: true,
}

const linkedinIcon = {
    name: "grommet-icons:linkedin-option",
    atLeft: true,
}

const hoverScale = "transform hover:scale-125 transition-transform duration-300 ease-in-out"
const hoverPrimary = "hover:text-primary"
const hoverTranslateRight = "transform hover:translate-x-3 transition-transform duration-300 ease-in-out"
---

<footer aria-label="Footer" class="bg-stone-900 text-stone-200">
    <div class="pt-10 px-10">
        <div>
            <Link 
                path="/"
                icon={footerIcon}
            />
        </div>
        <div class="container mx-auto flex justify-between my-3 text-start">
            <div>
                <small class="text-lg text-stone-600 font-semibold">Directory</small>
                <ul>
                    {
                    navData.map((data) =>
                    <li class={`${hoverPrimary} ${hoverTranslateRight}`}> 
                        <Link 
                            path={data.path} 
                            text={data.title}
                        />
                    </li>
                )
                }
                </ul>
            </div>
            <div>
                <small class="text-lg text-stone-600 font-semibold">Contact Information</small>
                <ul>
                    <li class={`${hoverPrimary} ${hoverTranslateRight}`}>
                        <Link path="mailto:morales.guillermo2503@gmail.com" text="morales.guillermo2503@gmail.com"/>
                    </li>
                </ul>
            </div>
            <div>
                <small class="text-lg text-stone-600 font-semibold">My socials</small>
                <ul class="flex justify-between my-1">
                    <li class={`${hoverScale} ${hoverPrimary}`}>
                        <Link path="https://github.com/MoralesGuillermo" icon={githubIcon} newTab={true}/>
                    </li>
                    <li class={`${hoverScale} ${hoverPrimary}`}>
                        <Link path="/" icon={linkedinIcon}/ newTab={true}>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-center p-3 mt-4">
        <small>
            &copy; <span id="copyright">{new Date().getFullYear()}</span> Guillermo Morales | All rights reserved
        </small>
    </div>
</footer>