---
import MainLayout from "./MainLayout.astro";
import skills from "../data/Skills.mjs"
import Pill from "../components/Pill.astro";
import Gallery from "../components/Gallery.astro";

// Styles
import "../styles/projectLayout.css"   




interface ProjectTag{
    name: String,
    text: String,
    color: String,
    proficiency: String
}

// Project frontmatter
const { frontmatter } = Astro.props;
const {title, description, cover, images, tags, repo} = frontmatter;
const projectTags = tags.map((tag: String) => skills.get(tag)) as ProjectTag[]

---

<MainLayout>
    <div class="mx-80 pb-40 max-lg:mx-20 max-md:mx-5 font-thin">
        <h1 class="text-5xl font-semibold">{title}</h1>
        <p class="text-2xl my-3 font-thin">{description}</p>
        <!-- Carousel goes here -->
        <div class="my-5">
            <Gallery images={images}>
        </div> 
        <div class="mb-10">
            <p class="text-3xl mt-10">Technology used:</p>
            <div class="flex flex-wrap gap-3 my-3">
            {
                projectTags.map((tag: ProjectTag) => (<Pill name={tag.name} text={tag.text} color={tag.color}/>))
            }
            </div>
        </div>
        <div>
            <slot></slot>
        </div>
    </div>
</MainLayout>

<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>




